.explore-page {
  .scroll {
    height: 100%;
  }
  .item-image {
    // min-height: 215px;
    height: 35%;
    border-bottom: none;
    background: $dark;
    #map {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 1;
      &.hide {
        opacity: 0;
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease;
    }
  }
}

.tabs-top {
  .tabs {
    .tab-item {
      border: none;
      font-size: 0.9em;
      font-family: 'proxima_novabold';
    }
  }
}

.place-content {
  background: $light;
  padding-top: 10px;
  i {
    color: $energized;
    float: right;
    font-size: 32px;
    margin: 5px 0 0 8px;
  }
  .row {
    &.title {
      margin-top: 8px;
    }
    .col {
      text-align: right;
    }
    .col:first-child {
      text-align: left;
    }
  }
  h3, h2 {
    color: $dark;
    font-family: 'proxima_novabold';
  }
  h3 {
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 5px;
    opacity: .6;
  }
  h2 {
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
    opacity: .75;
    margin-bottom: 0px;
    
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    max-width: 100%;
    position: relative;
  }
  p {
    color: #848484;
    opacity: .6;
    font-size: 1em;
  }
  .rating {
    .stars {
      overflow: hidden;
      span {
        width: 11px;
        height: 11px;
        margin-right: 6px;
        display: block;
        float: left;
        border: 3px solid #ccc;
        border-radius: 50%;
        &.starred {
          border-color: $energized;
        }
      }
    }
    small {
      clear: both;
      opacity: .45;
    }
  }
  .pricing {
    //opacity: .55;
    span {
      margin-right: 4px;
      opacity: 0.2;
      &.priced {
        font-weight: 900;
        opacity: 0.6;
      }
    }
  }
  .address {
    text-decoration: none;
    color: #848484;
    opacity: .6;
    b {
      font-family: 'proxima_novabold';
      color: $dark;
    }
  }
}

.bottom-content {
  .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  width: 100%;
  .tabs {
    position: relative;
    border: none;
    padding-top: 0;
    background-image: none;
    a.tab-item {
      max-width: 100%;
      background: #F1F1F1;
      i {
        color: $energized;
      }
      &:first-child {
        background: #F6F6F6;  
      }
    }
  }
  button.button.button-block {
    margin: 0;
    color: $dark;
  }
}

// iPhone 6 in portrait
@media only screen 
and (min-device-width : 375px) 
and (max-device-height : 667px) {
  .explore-page {
    .item-image {
      height: 45%;
    }
  }
  .place-content {
    h2 {
      font-size: 1.7em;
    }
  }
  .bottom-content {
    .tabs {
      height: 60px;
      a.tab-item {
        height: 60px;
        .icon {
          margin: 6px auto 0px;
          height: 40px;
          font-size: 40px;
        }
      }
    }
    button.button.button-block {
      height: 60px;
    }
  }
}

// iPhone 6 Plus in portrait
@media only screen 
and (min-device-width : 414px) 
and (max-device-height : 736px) 
and (orientation : portrait) {
  .explore-page {
    .item-image {
      height: 53%;
    }
  }
  .place-content {
    h2 {
      font-size: 1.7em;
    }
  }
  .bottom-content {
    .tabs {
      height: 60px;
      a.tab-item {
        height: 60px;
        .icon {
          margin: 6px auto 0px;
          height: 40px;
          font-size: 40px;
        }
      }
    }
    button.button.button-block {
      height: 60px;
    }
  }
}

// iPhone 5 & 5S in portrait
@media only screen 
and (min-device-width : 320px) 
and (max-device-height : 568px) 
and (orientation : portrait) {
  .explore-page {
    .item-image {
      height: 45%;
    }
  }
}

// iPhone 4
@media only screen 
and (min-device-width : 320px) 
and (max-device-height : 480px)
and (orientation : portrait) {
  .explore-page {
    .item-image {
      height: 35%;
    }
  }
}