.bar .buttons-right .button .icon.icon-profile:before {
  font-size: 24px;
}

$header-height: 128px;
.home-page {
  .scroll {
    height: 100%;
  }
  header {
    height: $header-height;
    overflow: hidden;
    position: relative;
    img {
      margin: auto;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }
  }
  .navigation {
    height: calc(100% - #{$header-height});
    a {
      position: relative;
      z-index: 0;
      background: #444;
      // border-bottom: 1px solid rgba(255,255,255,0.25);
      &.explore {
        &:before { 
          background-image: url(../img/nav-explore.png);
        }
      }
      &.news {
        &:before {
          background-image: url(../img/nav-news.png);
        }
      }
      &.people {
        &:before {
          background-image: url(../img/nav-people.png);
        }
      }
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.38;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
      }
      height: 33.34%;
      text-align: center;
      text-decoration: none;
      color: $light;
      display: table;
      width: 100%;
      .overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.3);
      }
      div {
        z-index: -1;
        display: table-cell;
        margin: 0;
        color: white;
        vertical-align: middle;
        h2 {
          font-size: 2.9em;
          line-height: 1.1em;
          font-weight: 500;
          margin-bottom: 0px;
          color: $light;
          font-family: 'proxima_novabold';
        }
        h3 {
          font-size: 1.1em;
          font-weight: 500;
          margin-top: 0px;
          color: $light;
          opacity: .75;
        }
      }
    }
  }
  // iPhone 6 Plus in portrait
  @media only screen 
  and (min-device-width : 414px) 
  and (max-device-height : 736px) 
  and (orientation : portrait) {
    .navigation {
      a div {
        h2 {
          font-size: 2.9em;
          line-height: 1.1em;
        }
      }
    }
  }

  // iPhone 6 in portrait
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-height : 667px) {
    .navigation {
      a div {
        h2 {
          font-size: 2.3em;
        }
      }
    }
  }

  // iPhone 5 & 5S in portrait
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-height : 568px) 
  and (orientation : portrait) {
    .navigation {
      a div {
        h2 {
          font-size: 2.3em;
        }
      }
    }
  }

  // iPhone 4
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-height : 480px)
  and (orientation : portrait) {
    .navigation {
      a div {
        h2 {
          font-size: 2.1em;
        }
      }
    }
  }
}