<ion-view view-title="Home" hide-back-button="true" hide-nav-bar="false" class="home-page">
<!--   <ion-nav-bar class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar> -->
  <ion-nav-buttons side="left">
    <button class="button" ng-click="logOut()">
      <i class="icon icon-logout"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="account({userId:currentUser.id})">
      <i class="icon icon-profile"></i>
    </button>
  </ion-nav-buttons>
  <ion-content  scroll="false">
    <header>
      <img src="img/logo-home.svg">
    </header>
    <div class="navigation">
      <a href="#/explore" class="explore">
        <div class="overlay"></div>
        <div>
          <h2>Explore</h2>
          <h3>the neighborhood</h3>
        </div>
      </a>
      <a href="#/news" class="news">
        <div class="overlay"></div>
        <div>
          <h2>News</h2>
          <h3>from DDB San Francisco</h3>
        </div>
      </a>
      <a href="#/people" class="people">
        <div class="overlay"></div>
        <div>
          <h2>People</h2>
          <h3>DDB directory</h3>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
