<ion-view view-title="Latest News" hide-back-button="false" hide-nav-bar="false">
  <ion-content class="news-page" scroll-event-interval="5">

      <div class="scrollbox" scroll-to-bottom="scrollItems">

        <div ng-repeat="day in news"> 
          <div class="group-list">
            <div class="list">
              <div class="item item-divider" ion-affix data-affix-within-parent-with-class="group-list">
                  <span class="day">{{day.$id | date: 'EEEE'}}<br></span>
                  <span class="date">{{day.$id | date: 'MMMM d, y'}}</span>
              </div>
              <div ng-repeat="item in day" class="social-item">
                  <div ng-show="item.created_at != null" class="twitter">
                    <div class="image" ng-show="item.extended_entities.media[0] != null">
                      <img ng-src="{{item.extended_entities.media[0].media_url}}">
                    </div>
                    <div class="content">
                      <p ng-bind-html="item.text | linky | tweetLinky"></p>
                      <footer>
                        <i class="icon ion-social-twitter"></i> <a href="https://twitter.com/{{item.user.screen_name}}" rel="author">@{{item.user.screen_name}}</a>
                      </footer>  
                    </div>
                  </div>

                  <div ng-show="item.caption != null" class="instagram">
                    <div class="image">
                      <img ng-src="{{item.images.standard_resolution.url}}">
                    </div>
                    <div class="content">
                      <p ng-bind-html="item.caption.text | instagramLinky"></p>
                      <footer>
                        <i class="icon ion-social-instagram-outline"></i> <a href="https://www.instagram.com/{{item.user.username}}" rel="author">@{{item.user.username}}</a>
                      </footer>  

                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    
  </ion-content>
</ion-view>
